@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

/* setting color e.g. bg-mint-500, text-mint-500, border-mint-500, background-color: var(--color-mint-500) */
@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-red-50: oklch(0.971 0.013 17.38);
  --color-red-100: oklch(0.936 0.032 17.717);
  --color-red-200: oklch(0.885 0.062 18.334);

  --font-sans: 'Noto Sans TC', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji";
  --font-inter:'Inter', system-ui, sans-serif;
  --font-poppins: Poppins, sans-serif;

  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

  --shadow-3xl: 0 32px 0 #fff, -32px 0 #fff;

  --shadow-red: -24px 0 #FFF, 24px 0 #FFF;

  --animate-wiggle: wiggle 0.5s ease-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-flash: flash 0.5s ease-out infinite alternate;
  @keyframes flash {
    0% {
      background-color: #fff2;
      box-shadow: 32px 0 #fff2, -32px 0 #fff;
    }
    50% {
      background-color: #fff;
      box-shadow: 32px 0 #fff2, -32px 0 #fff2;
    }
    100% {
      background-color: #fff2;
      box-shadow: 32px 0 #fff, -32px 0 #fff2;
    }
  }

  --animate-shadow-pulse: shadow-pulse 2s linear infinite;
  @keyframes shadow-pulse {
    0% {
      background-color: #FF3D00;
      box-shadow: 18px 0 #FF3D00, -18px 0 #fff;
    }
    50% {
      background-color: #fff;
      box-shadow: 18px 0 #FF3D00, -18px 0 #FF3D00;
    }
    100% {
      background-color: #FF3D00;
      box-shadow: 18px 0 #fff, -18px 0 #FF3D00;
    }
  }

  --animate-rotation: rotation 1s linear infinite;
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  --animate-text-shimmer: text-shimmer 2.5s ease-out infinite;
  @keyframes text-shimmer {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -200% 0;
    }
  }

  --animate-ripple: ripple 3s ease-out infinite;
  @keyframes ripple {
    0% {
      r: 0;
      opacity: 0.7;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      r: 50;
      opacity: 0;
    }
  }

  --animate-shake: shake 0.3s linear 1;
  @keyframes shake {
    0% {
      transform: translateX(-5%);
    }
    25% { transform: translateX(5%); }
    50% { transform: translateX(-5%); }
    75% { transform: translateX(5%); }
    100% { transform: translateX(-5%); }
  }

  --animate-fade-in: fade-in 0.5s ease-in-out;
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(-1000%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  --animate-fade-out: fade-out 0.5s ease-in-out forwards;
  @keyframes fade-out {
    from {
      opacity: 0;
      transform: translateX(0%);
    }
    to {
      opacity: 1,
      transform: translateX(1000%);
    }
  }

  --animate-draw-path: draw-path 3s ease-in-out infinite';
  @keyframes draw-path {
    0% {
      stroke-dashoffset: 200;
    }
    50% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -200;
    }
  }

  --animate-morph-shape: morph-shape 2s ease-in-out infinite alternate;
  @keyframes morph-shape {
    0% {
      transform: scale(1) rotate(0deg);
    }
    100% {
      transform: scale(1.2) rotate(180deg);
    }
  }

  --animate-orbit: orbit 4s linear infinite;
  @keyframes orbit {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  --animate-hue-rotate: hue-rotate 6s ease-in-out 3s infinite;
  @keyframes hue-rotate {
    0% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(-120deg);
    }
    100% {
      filter: hue-rotate(0deg);
    }
  }

  --animate-slide-up: slide-up 0.6s ease forwards;
  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer components {
  .checkbox-label:has(input:checked) {
    @apply border-blue-800 bg-blue-400 text-blue-800;
  }
}