/* 排版輔助 */
* {
  /* outline: 1px dashed #32a1ce; */
  /* outline: 1px dashed #D3D3D3; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.infoHover:hover > div > svg > path {
  stroke: #eff2f5;
}
